<div class="card card-body form-sm">
<h1 class="display-4">Create New Category</h1>
<br>

<div>
    <form method="POST" action="">
        <h3>Categories</h3>
        <br>
        <div id="supplyCategoriesForm">
            {{#if categories}}
            {{#each categories}}
            <div class="form-group input-group" id="">
                <input value="{{ this.category_name }}" type="text" name="name" class="inputCName form-control" required>
                <div class="input-group-append">
                    <button onclick="" type="button" class="del-butt btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="form-group input-group" id="">
                <input type="text" name="name" class="inputCName form-control" required>
                <div class="input-group-append">
                    <button onclick="" type="button" class="del-butt btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            {{/if}}
        </div>
        <button onclick="createInput(); return false;" id="createCategories" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add more</button>
        <div class="row">
            <div class="col-md-6"><a href="/admin/inventory/dashboard" class="btn btn-secondary" style="margin-top: 20px;width:118px;">Go Back</a></div>
            <div class="col-md-6"><br><input type="submit" value="Save changes" class="btn btn-success pull-right"></div>
        </div>
    </form>
    <br>
</div>

<div>
    <h3>Your Supply List</h3>
    <ol>
        {{#each supplies_dict}}
        <li>{{ this.item_name }}</li>
        {{/each}}
    </ol>
</div>

<!-- The Modal -->
<!-- <div class="modal" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">

            
            <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            
            <div class="modal-body">Are you sure you want to delete field?</div>

            
            <div class="modal-footer">
            <button id="finishDelete" type="button" onclick="delInput()" value="Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>-->

</div>

<script>
    var num = 1;
    window.addEventListener('load', genAttributes);

    function createInput() {
        console.log("Creating an input");
        document.getElementById('supplyCategoriesForm').innerHTML += 
        `\n<div class="form-group input-group" id="inputGroup${num}">
            \n<input type="text" name="name${num}" class="inputCName form-control" required>
            \n<div class="input-group-append">
                <button onclick="delInput(${num}); return false;" type="button" class="del-butt btn btn-danger" data-target="#confirmDelete"><i class="fa fa-trash"></i></button>
            </div>
        \n</div>`;
        num++;
    }

    function genAttributes() {
        var inputs = document.getElementsByClassName("inputCName");
        var delButtons = document.getElementsByClassName("del-butt");
        var inputParents = document.getElementsByClassName("input-group");
        for (i=0; i<inputs.length; i++) {
            inputs[i].name += num;
            delButtons[i].setAttribute('onclick', `delInput(${num}); return false;`);
            inputParents[i].id = "inputGroup"+num;
            num++;
        }
    }

    $(document).on("click", ".open-modal")

    /*function openModal(num) {
        // Get selected input for delete
        var num = parseInt(document.getElementById(`deleteCInput${num}`).id.charAt(-1));
        // Open modal
        var modal = document.querySelector('.modal');
        modal.style.display = "block";
        modal.className += " show";
        // Setting delete param
        document.getElementById("finishDelete").onclick = `delInput(${num})`;
    }*/

    function delInput(num) {
        /*var input = document.querySelector(`[name="name${num}"]`);
        input.remove();*/
        document.getElementById("inputGroup"+num).remove();
    }
</script>
