<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<h1 class="display-4">Supplies List</h1>
<br>
{{#ifc userRole '==' 'supplier'}}
<div id="toolbar2">
  <a class="btn btn-warning btn-lg" href="create/supplyItem"><i class="fas fa-plus-circle" aria-hidden="true"></i> Add supply</a>
  <a class="btn btn-primary btn-lg" href="edit/categories"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Categories</a>
</div>
{{/ifc}}
<table
  id="supplies-table2"
  data-toggle="table"
  data-search="true"
  data-toolbar="#toolbar2"
  data-toolbar-align="left"
  data-url="/supplier/get-supplies"
  data-pagination= "true"
  data-side-pagination= "server"
  data-filter-control="true"
  data-buttons-class="primary"
  data-show-refresh="true">
  <thead>
    <tr>
      <th data-field="item_id" max-width="100px">Product ID</th>
      <th data-field="item_name" data-filter-control="input" data-sortable="true">Product Name</th>
      <th data-field="supply_category.category_name" data-filter-control="input" data-sortable="true">Category</th>
      {{#ifc userRole '==' 'supplier'}} 
      <th>Functions</th>
      {{/ifc}}
    </tr>
  </thead>
</table>

{{#ifc userRole '==' 'supplier'}}
<script>
    window.addEventListener('load', setInterval(check_data_loaded, 25));

    function check_data_loaded() {
        var cells = document.getElementsByTagName('td');
        try {
            var checkButtons = cells[3].innerHTML;
            if (cells.length >= 3 && checkButtons == "-") {
                gen_edit_del_button();  
            }
        }
        catch (error) {
            console.log("Waiting for data to be loaded...");
        }
        
    }

    function gen_edit_del_button() {
        var all_cells = document.getElementsByTagName('td');
        for (i=3; i<all_cells.length; i+= 4) {
            all_cells[i-3].width = "300px";
            all_cells[i].innerHTML =
            `<div class="row">
            &nbsp&nbsp<a href="update/`+all_cells[i-3].innerText+`" class="btn btn-warning col-xs-6 supplies-update" style="margin-left:10px;margin-right:10px;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <form action="suppliesList/`+all_cells[i-3].innerText+`" method="POST">
                <button type="button" class="btn btn-danger col-xs-6" data-toggle="modal" data-target="#modal_`+all_cells[i-3].innerText+`">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <!-- The Modal -->
                <div class="modal" id="modal_`+all_cells[i-3].innerText+`">
                <div class="modal-dialog">
                    <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Confirmation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to delete `+all_cells[i-3].innerText+`?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                </div>
                </div>
            </form>
            </div>`
        }
    }   
</script>
{{/ifc}}
