<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<h1 class="display-4">Supplies List</h1>
<br>
<div id="toolbar2">
  <a class="btn btn-warning btn-lg" href="create/supplyItem"><i class="fas fa-plus-circle" aria-hidden="true"></i> Add supply</a>
  <a class="btn btn-primary btn-lg" href="edit/categories"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Categories</a>
</div>
<table
  id="supplies-table2"
  data-toggle="table"
  data-search="true"
  data-toolbar="#toolbar2"
  data-toolbar-align="left"
  data-url="/admin/inventory/get-supplies"
  data-pagination= "true"
  data-side-pagination= "server"
  data-filter-control="true"
  data-buttons-class="primary"
  data-show-refresh="true">
  <thead>
    <tr>
      <th data-field="item_id" max-width="100px">Product ID</th>
      <th data-field="item_name">Product Name</th>
      <th data-field="supply_category.category_name">Category</th>
      <th data-field="supply_performances.next_value">Predicted Order</th>
      <th>Functions</th>
    </tr>
  </thead>
</table>

<script>
    window.addEventListener('load', check_data_loaded);
    var startTime = new Date();
    function check_data_loaded() {
        var cells = document.getElementsByTagName('td');
        var endTime = new Date();
        if (cells.length < 4) {
            if (cells.length <= 1 && endTime - startTime >= 7000) {
                console.log("Timeout.")
                return 
            }
            else {
                setTimeout(check_data_loaded, 25);
            }
            
        }
        else {
            gen_edit_del_button();  
        }
    }

    function gen_edit_del_button() {
        var all_cells = document.getElementsByTagName('td');
        for (i=4; i<all_cells.length; i+= 5) {
            all_cells[i-4].width = "300px";
            all_cells[i].innerHTML =
            `<div class="row">
            <a href="update/`+all_cells[i-4].innerText+`" class="btn btn-warning col-xs-6 supplies-update" style="margin-left:10px;margin-right:10px;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <form action="suppliesList/`+all_cells[i-4].innerText+`" method="POST">
                <button type="button" class="btn btn-danger col-xs-6" data-toggle="modal" data-target="#myModal_`+all_cells[i-4].innerText+`">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal_`+all_cells[i-4].innerText+`">
                <div class="modal-dialog">
                    <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Confirmation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to delete `+all_cells[i-3].innerText+`?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                </div>
                </div>
            </form>
            </div>`
        }
    }   
</script>
