.section-container {
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.section-title {
    padding:15px;
}

.section-title a {
    position:relative;
    bottom:8px;
    color:black;
    font-size:32px;
    font-weight:bold;
}

.section-title a:hover {
    color:grey;
    text-decoration:none;
}

.section-div {
    padding:25px;
    text-align: center;
}

.section-div h5 {
    text-align: left;
}

.section-div a div {
    border:1px solid lightgrey;
    border-radius:4px;
    background-color:#F9F9F9;
    display: flex;
    align-items: center;
    color:black;
    padding:20px;
}

#quick-access-sec {
    width:70%;
}

.section-div a.quick-div {
    margin:0 auto;
}

.section-div a.quick-div div {
    height:100%;
}

.section-div a.normal-div div {
    font-size:25px;
    height:150px;
    width:100%;
}

.section-div a:hover {
    text-decoration: none;
}

.section-div a:hover div {
    color:#007BFF;
    background-color:lightgrey;
    border:1px solid grey;
}

.banner {
    background-size:cover;
    width:100%;
    height:652px;
}

.banner.bn1 {
    background-image:url("https://www.carlsjr.com.sg/wp-content/gallery/home-page-slide/slide-1-Copy.jpg");
}
.banner.bn2 {
    background-image:url("../images/about-us-bg.jpg");
}
.banner.bn3 {
    background-image:url("../images/bg-menu.jpg");
}
.banner.bn4 {
    background-image:url("../images/rewards-bg.png");
}

.home-titles {
    text-align: center;
    padding-top:200px;
}

.display-2.title {
    font-family:Impact;
    font-weight:bold;
}

.about-title {
    border-bottom:3px solid white;
}

.about-us {
    position:relative;
    left:50%;
    top:20%;
    width:40%;
    color:white;
}

.menu-bg {
    color:white;
    position:relative;
    left:22.5%;
    width:60%;
}

.rewards-btn {
    position:relative;
    left:30%;
}

.rewards-btn a {
    margin:0 1%;
}

.feedback-img {
    max-height:250px;
    width:200px;
    overflow:hidden;
}