.navbar.navbar-expand-lg.bg-warning.navbar-dark li a {
    color:black; 
}

div.rewards-table-container {
    background-color: #292b2c;
    margin:0 auto;
    padding: 2%;
    width: 85%;
    text-align: center;
}

div.rewards-table-container table td {
    padding: 0 0.75%;
    width:10%;
    height:100%;
}

div.rewards-table-container table td div {
    position: relative;
    height:180px;
    border-radius:10px;
    margin-bottom:5%;
}

div#rewardsUser div {
    height:240px;
}

div.reward h4 {
    font-size: 1.35em;
}

div.reward p {
    position: absolute;
    top:85%;
    left:0;
    width:100%;
    font-size: 14px;
}

a[href="onlineOrder"] {
    color:#05187A;
}

a[href="onlineOrder"]:hover {
    color:#679CBF;
    text-decoration: none;
}

div.normal-day-cell{
    background-color: white;
}

div.reward-day-cell{
    background-color: #fffc7a;
}

div.reward-day-cell:hover {
    box-shadow: 0px 0px 10px 5px rgba(255,252,122,0.5);
}

div.locked-normal-day-cell {
    background-color: lightgrey;
}

div.locked-reward-day-cell {
    background-color: lightgrey;
}

img.completed-icon {
    position: relative;
    left:3%;
    height:27.5%;
    width:27.5%;
}

div.ad-cell {
    background-color: white;
    position: relative;
    height:180px;
    width:100%;
    border-radius:10px;
    padding: 0 0.75%;
    margin:0% 1.5% 5% 1.5%;
}

.sign {
    margin-top:10px;
    margin-bottom:10px;
}

.btn.sign {
    padding-left:75px;
    padding-right:75px;
}

div.norewards-container {
    position:absolute;
    width:106%;
    height:450%;
    overflow:hidden;
    right:0;
    top:81px;
    z-index:1;
    text-align: center;
    padding:0px 20px;
    background-color:rgba(0,0,0,0.5);
}

div.norewards-container div {
    position:fixed;
    left:34%;
}

div.norewards-container div > p {
    position:relative;
    left:15%;
    top:60px;
}

div.sign-in {
    top:170px;
    background-color: white;
    border-radius:5px;
    margin:0 auto;
    width:35%;
    padding:100px 0;
}

div.sign-in a.btn {
    width:70%;
}

p.no-rewards {
    position: relative;
    top:140px;
    color:white;
    text-align:center;
    font-weight:normal;
}

div.normal a.admin-edit {
    position:absolute;
    top:79%;
    left:35%;
}

div.r-hidden {
    display: none;
}
