<div class="form-sm">
<h1 class="display-4">Manage Rewards List</h1>
<br>

<form method="POST" action="">
    <div class="form-group">
        <label for="name">Item Name</label>
        <input type="text" name="name1" class="form-control" value="{{ reward1 }}" required>
    </div>
        <label for="name2">Item Name 2 (Optional)</label>
        <input type="text" name="name2" class="form-control" value="{{#if reward2}}{{reward2}}{{/if}}">
    <br>
    <a href="/rewards/adminRewardsList" class="btn btn-danger">Discard Changes</a>
    <input type="submit" value="Submit" class="btn btn-success float-right" style="padding:6px 25px;">
</form>
</div>
