<div class="form-sm">
    <h1 class="display-4">Edit Reward - Day {{ day_no }}</h1>
    <p>Field with <span class="text-danger">*</span> is compulsory</p>
    <br>

    <form method="POST" action="">
        <div class="form-group">
            <label for="name">Item Name 1<span class="text-danger">*</span></label>
            <input type="text" name="name1" class="form-control" value="{{#if name1}}{{name1}}{{/if}}" required>
        </div>
            <label for="name2">Item Name 2</label>
            <input type="text" name="name2" class="form-control" value="{{#if name2}}{{name2}}{{/if}}">
        <br>
        <a href="/rewards/rewardsList" class="btn btn-danger">Back to list</a>   
        <input type="submit" value="Save" class="btn btn-success float-right" style="padding:6px 25px;">
    </form>
</div>
