<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae similique hic dolorum voluptate, 
			sed optio eum tenetur nesciunt praesentium quisquam necessitatibus quas repellendus iste aut vitae incidunt sequi impedit.
		</p>
	</div>
	<br>
</div>
