<div class="form-sm">
<h1 class="display-4">Confirm Delete</h1>
<p>Are you sure you want to delete Menu item #{{item_name}}</p>
<form method="POST" action="">
    <input type="hidden" id="item_name" name="item_name" value="{{item_name}}">
    <input type="hidden" id="uuid" name="uuid" value="{{uuid}}">

    <a href="/admin/menu/" class="btn btn-danger">Back</a>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div> 