<div class="main">
  <div>
    <h1 class="display-4">Your order has been sent for preperation</h1>
  </div>
  <br>
  <div style="display: inline-block;" class='viewOrders'>
    View order status | <a href="/user/order" class="btn btn-warning";>My orders</a> |
  </div>

  <div>
    <br>
    <br>
    <br>
    <br>
    <a href="/menuPublic" class="btn btn-secondary">Back to Homepage</a>
    <a href="/user/feedback/create" class="btn btn-primary">Leave a Feedback</a>
  </div>
</div>

